<div>
  <h2 id="page-heading" data-cy="GroupAuthorityHeading">
    <span jhiTranslate="gammaJhApp.groupAuthority.home.title">Group Authorities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gammaJhApp.groupAuthority.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-group-authority"
        [routerLink]="['/group-authority/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gammaJhApp.groupAuthority.home.createLabel"> Crear nuevo Group Authority </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="groupAuthorities?.length === 0">
    <span jhiTranslate="gammaJhApp.groupAuthority.home.notFound">Ningún Group Authorities encontrado</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="groupAuthorities && groupAuthorities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="gammaJhApp.groupAuthority.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="version">
            <span jhiTranslate="gammaJhApp.groupAuthority.version">Version</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="authority">
            <span jhiTranslate="gammaJhApp.groupAuthority.authority">Authority</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="roleGroup.id">
            <span jhiTranslate="gammaJhApp.groupAuthority.roleGroup">Role Group</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let groupAuthority of groupAuthorities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/group-authority', groupAuthority.id, 'view']">{{ groupAuthority.id }}</a>
          </td>
          <td>{{ groupAuthority.version }}</td>
          <td>{{ groupAuthority.authority }}</td>
          <td>
            <div *ngIf="groupAuthority.roleGroup">
              <a [routerLink]="['/role-group', groupAuthority.roleGroup.id, 'view']">{{ groupAuthority.roleGroup?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/group-authority', groupAuthority.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/group-authority', groupAuthority.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(groupAuthority)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
