<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="roleGroup">
      <h2 data-cy="roleGroupDetailsHeading"><span jhiTranslate="gammaJhApp.roleGroup.detail.title">Role Group</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gammaJhApp.roleGroup.id">Id</span></dt>
        <dd>
          <span>{{ roleGroup.id }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.roleGroup.version">Version</span></dt>
        <dd>
          <span>{{ roleGroup.version }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.roleGroup.groupName">Group Name</span></dt>
        <dd>
          <span>{{ roleGroup.groupName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/role-group', roleGroup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
