<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mmember">
      <h2 data-cy="mmemberDetailsHeading"><span jhiTranslate="gammaJhApp.mmember.detail.title">Mmember</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gammaJhApp.mmember.id">Id</span></dt>
        <dd>
          <span>{{ mmember.id }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.mmember.version">Version</span></dt>
        <dd>
          <span>{{ mmember.version }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.mmember.roleGroup">Role Group</span></dt>
        <dd>
          <div *ngIf="mmember.roleGroup">
            <a [routerLink]="['/role-group', mmember.roleGroup.id, 'view']">{{ mmember.roleGroup?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/mmember', mmember.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
