<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mmemberGameProps">
      <h2 data-cy="mmemberGamePropsDetailsHeading">
        <span jhiTranslate="gammaJhApp.mmemberGameProps.detail.title">Mmember Game Props</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gammaJhApp.mmemberGameProps.id">Id</span></dt>
        <dd>
          <span>{{ mmemberGameProps.id }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.mmemberGameProps.version">Version</span></dt>
        <dd>
          <span>{{ mmemberGameProps.version }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.mmemberGameProps.seed">Seed</span></dt>
        <dd>
          <span>{{ mmemberGameProps.seed }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.mmemberGameProps.mapName">Map Name</span></dt>
        <dd>
          <span>{{ mmemberGameProps.mapName }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.mmemberGameProps.mapSize">Map Size</span></dt>
        <dd>
          <span>{{ mmemberGameProps.mapSize }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.mmemberGameProps.npcCount">Npc Count</span></dt>
        <dd>
          <span>{{ mmemberGameProps.npcCount }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.mmemberGameProps.jsonProps">Json Props</span></dt>
        <dd>
          <span>{{ mmemberGameProps.jsonProps }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.mmemberGameProps.configName">Config Name</span></dt>
        <dd>
          <span>{{ mmemberGameProps.configName }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.mmemberGameProps.mmember">Mmember</span></dt>
        <dd>
          <div *ngIf="mmemberGameProps.mmember">
            <a [routerLink]="['/mmember', mmemberGameProps.mmember.id, 'view']">{{ mmemberGameProps.mmember?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.mmemberGameProps.gameClass">Game Class</span></dt>
        <dd>
          <div *ngIf="mmemberGameProps.gameClass">
            <a [routerLink]="['/game-class', mmemberGameProps.gameClass.id, 'view']">{{ mmemberGameProps.gameClass?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/mmember-game-props', mmemberGameProps.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
