<div>
  <h2 id="page-heading" data-cy="MmemberGamePropsHeading">
    <span jhiTranslate="gammaJhApp.mmemberGameProps.home.title">Mmember Game Props</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gammaJhApp.mmemberGameProps.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mmember-game-props"
        [routerLink]="['/mmember-game-props/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gammaJhApp.mmemberGameProps.home.createLabel"> Crear nuevo Mmember Game Props </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mmemberGameProps?.length === 0">
    <span jhiTranslate="gammaJhApp.mmemberGameProps.home.notFound">Ningún Mmember Game Props encontrado</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mmemberGameProps && mmemberGameProps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="gammaJhApp.mmemberGameProps.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="version">
            <span jhiTranslate="gammaJhApp.mmemberGameProps.version">Version</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="seed">
            <span jhiTranslate="gammaJhApp.mmemberGameProps.seed">Seed</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mapName">
            <span jhiTranslate="gammaJhApp.mmemberGameProps.mapName">Map Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mapSize">
            <span jhiTranslate="gammaJhApp.mmemberGameProps.mapSize">Map Size</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="npcCount">
            <span jhiTranslate="gammaJhApp.mmemberGameProps.npcCount">Npc Count</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jsonProps">
            <span jhiTranslate="gammaJhApp.mmemberGameProps.jsonProps">Json Props</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="configName">
            <span jhiTranslate="gammaJhApp.mmemberGameProps.configName">Config Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mmember.id">
            <span jhiTranslate="gammaJhApp.mmemberGameProps.mmember">Mmember</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="gameClass.id">
            <span jhiTranslate="gammaJhApp.mmemberGameProps.gameClass">Game Class</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mmemberGameProps of mmemberGameProps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mmember-game-props', mmemberGameProps.id, 'view']">{{ mmemberGameProps.id }}</a>
          </td>
          <td>{{ mmemberGameProps.version }}</td>
          <td>{{ mmemberGameProps.seed }}</td>
          <td>{{ mmemberGameProps.mapName }}</td>
          <td>{{ mmemberGameProps.mapSize }}</td>
          <td>{{ mmemberGameProps.npcCount }}</td>
          <td>{{ mmemberGameProps.jsonProps }}</td>
          <td>{{ mmemberGameProps.configName }}</td>
          <td>
            <div *ngIf="mmemberGameProps.mmember">
              <a [routerLink]="['/mmember', mmemberGameProps.mmember.id, 'view']">{{ mmemberGameProps.mmember?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="mmemberGameProps.gameClass">
              <a [routerLink]="['/game-class', mmemberGameProps.gameClass.id, 'view']">{{ mmemberGameProps.gameClass?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mmember-game-props', mmemberGameProps.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mmember-game-props', mmemberGameProps.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(mmemberGameProps)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
