<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="gameInstProps">
      <h2 data-cy="gameInstPropsDetailsHeading"><span jhiTranslate="gammaJhApp.gameInstProps.detail.title">Game Inst Props</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ gameInstProps.id }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.gameInstProps.version">Version</span></dt>
        <dd>
          <span>{{ gameInstProps.version }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.gameInstProps.seed">Seed</span></dt>
        <dd>
          <span>{{ gameInstProps.seed }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.gameInstProps.mapName">Map Name</span></dt>
        <dd>
          <span>{{ gameInstProps.mapName }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.gameInstProps.mapSize">Map Size</span></dt>
        <dd>
          <span>{{ gameInstProps.mapSize }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.gameInstProps.npcCount">Npc Count</span></dt>
        <dd>
          <span>{{ gameInstProps.npcCount }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.gameInstProps.jsonProps">Json Props</span></dt>
        <dd>
          <span>{{ gameInstProps.jsonProps }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.gameInstProps.updated">Updated</span></dt>
        <dd>
          <span>{{ gameInstProps.updated | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gammaJhApp.gameInstProps.gameInst1">Game Inst 1</span></dt>
        <dd>
          <div *ngIf="gameInstProps.gameInst1">
            <a [routerLink]="['/game-inst', gameInstProps.gameInst1.id, 'view']">{{ gameInstProps.gameInst1?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/game-inst-props', gameInstProps.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
